.team-info {
    padding: 10px 30px;
    border-radius: 4px;
    color: aliceblue;
}
.team-players {
    background: linear-gradient(
        to bottom right,
        rgb(73, 75, 75),
        rgb(51, 49, 49)
    );
    padding: 8px;
    float: none;
    width: 420px;
    height: 65*5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.team-player-container {
    display: flex;
    flex-direction: row;
}
.team-player-container .team-player-role-img {
    height: 55px;
    width: 55px;
}
.team-player-container .player-container {
    flex-grow: 1;
    border: none;
}
.role-continer {
    width: 65px;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 9, 9, 0.785);
    animation: appearance 0.6s;
}

@keyframes appearance {
    0% {
        opacity: 25%;
        transform: translateY(5px);
    };
    100% {
        opacity: 100%;
    }
}
@media (width < 1500px) {
    .team-players {
        width: 300px;
    }
    .team-player-container .team-player-role-img {
        height: 45px;
        width: 45px;
    }
    .team-player-container .player-container h2 {
        font-size: 15px;
    }
}
@media (width < 1200px) {
    .team-player-container .team-player-role-img {
        height: 35px;
        width: 35px;
    }
}
@media (width < 850px) {
    .team-info {
        padding: 5px;
    }
}
@media (width < 740px) {
    .team-player-container .player-container h2 {
        font-size: 12px;
    }
    .team-info h1 {
        font-size: 20px;
    }
    .team-players {
        width: 125px;
    }
    .team-player-container .player-container .player-roles-container {
        display: none;
    }
    .team-player-container .team-player-role-img {
        height: 25px;
        width: 25px;
    }
    .team-player-container .role-continer {
        width: 25px;
    }
}