@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}
main {
    min-height: 100vh;
    background: linear-gradient(
        to right bottom,
        rgb(3, 3, 3), rgb(26, 23, 23) 60%, rgb(9, 7, 7)
    );
    background-size: cover;
    background-repeat: no-repeat;
}