.settings-open-button {
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    color: rgba(253, 253, 253, 0.478);
    cursor: pointer;
    transition: transform ease-in-out 0.8s;
    top: 15px;
}
.settings-open-button:hover {
    color: rgb(253, 253, 253);
    transform: rotate(165deg);
}