.input-player form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(46, 43, 43, 0.554);
    padding: 15px;
    padding-left: 40px;
    margin-top: 15px;
    padding-right: 40px;
    border: 2px solid rgba(0, 0, 0, 0.774);
    border-radius: 10px;
    color: rgb(240, 250, 232);
}
.input-player form button {
    margin: auto;
    margin-top: 5px;
}
.roles-input-container {
    display: flex;
    flex-direction: column;
    border: 4px solid rgba(0, 0, 0, 0.388);
    border-radius: 3px;
    padding: 4px 7px 10px 7px;
    margin-bottom: 10px;
}
.input-player form .error-container {
    width: 200px;
    height: 50px;
    overflow: hidden;
    text-align: center;
}